
/* @group Common */

@font-face {
	font-family: Cooper Black;
	src: url('../fonts/Cooper Black.eot'), /* EOT file for IE */ 
		url('../fonts/Cooper Black.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/Cooper Black.otf') format('opentype'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

/* @end */


/* @group Back */

.stage {
	background: url('./images/back.jpg') no-repeat;
	position: relative;
	width: 760px;
	height: 600px;
	margin: 0 auto;
}
.tree {
	background: url('../images/background-tree.png') repeat-y;
	width: 555px;
	height: 9999px;
	margin: 0 auto;
}

/* @end */

/* @group Control */

.scoreControl {
	background: url('../images/score-control.png') no-repeat;
	position: absolute;
	width: 178px;
	height: 51px;
	left: 15px; 
	top: 13px;
	z-index: 100;
	padding-left: 90px;
	padding-top: 26px;
	color: #7b4800;
	font-size: 22px;
	font-family: Cooper Black, sans-serif;
	text-shadow: 1px 1px 1px #ffec0a;
}

a.button {
	background-position: 50px 50px;
	background-repeat: no-repeat;
	background-image: url('../images/buttons.png');
	position: absolute;
	top: 13px;
	left: 14px;
	width: 50px;
	height: 50px;
}

a.play {
	background-position: -50px 0px;
}
a.play:hover {
	background-position: -50px -50px;
}
a.pause {
	background-position: 0px 0px;
}
a.pause:hover {
	background-position: 0px -50px;
}
.scoreControl span {
	color: #fff;
	text-shadow: 1px 1px 1px #c79903;
}

/* @end */

/* @group Candy */

.candy {
	position: absolute;
	z-index: 50;
	left: 0px;
	top: 0px;
	width: 68px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-color: transparent;
}

.candyLeftShort {
	background-image: url('../images/candy-left-short.png');
	height: 131px;
}
.candyRightShort {
	background-image: url('../images/candy-right-short.png');
	height: 131px;
}
.candyLeftMiddle {
	background-image: url('../images/candy-right-middle.png');
	height: 187px;
}
.candyRightMiddle {
	background-image: url('../images/candy-left-middle.png');
	height: 187px;
}
.candyLeftLong {
	background-image: url('../images/candy-left-long.png');
	height: 300px;
}
.candyRightLong {
	background-image: url('../images/candy-right-long.png');
	height: 300px;
}


#c1 {
	top: 12px;
	left: 196px;
}
#c2 {
	top: 465px;
	left: 470px;
}
#c3 {
	top: 400px;
	left: 196px;
}
#c4 {
	top: 22px;
	left: 450px;
}
#c5 {
	top: 155px;
	left: 240px;
}
#c6 {
	top: 150px;
	left: 500px;
}

/* @end */

/* @group Gifts */

.gift {
	position: absolute;
	z-index: 30;
	left: 0px;
	top: 0px;
	width: 51px;
	height: 50px;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: 0 0;	
}
.giftRight {
	background-image: url('../images/gift-right.png');
}
.giftLeft {
	background-image: url('../images/gift-left.png');
}
#g1 {
	left: 435px;
	top: 390px;
}
#g2 {
	left: 276px;
	top: 92px;
}

/* @end */

.deer {
	background: url('../images/deer.png') no-repeat;
	position: absolute;
	z-index: 80;
	left: 304px;
	top: 200px;
	width: 97px;
	height: 138px;
}